/*font-family: 'Bai Jamjuree', sans-serif; - 400 - 600*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --strong-variation-01: hsla(171, 46%, 44%, 1);
    --ligh-blue-variation-01: hsla(233, 100%, 62%, 1);
    --white-variation-01: hsla(0, 100%, 100%, 0.4);
    --shadow-color: rgba(0, 0, 0.2, 0.1);
    --strong-cyan-shadow: hsla(171, 100%, 54%, 0.2);
    --bg-footer: #f7f7f7;
}

html{
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

/***MOBILE FIRST***/
body{
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
}

.main-container{
    margin: 120px 0 170px 0;
    padding: 0 30px;
}

.main-container__logo{
    margin-bottom: 70px;
}

.main-container__logo img{
    display: block;
    margin: 0 auto;
    width: 125px;
    height: 125px;
}

.main-container__title-main{
    font-size: 1.8rem; /*32.4px*/
    color: var(--dark-grayish-blue);
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 15px;
}

.main-container__description-header{
    color: var(--grayish-blue);
    font-size: 16.3px; /*minmax(14.2px, 0.8rem);*/
    text-align: center;
    line-height: 1.8;
    margin-bottom: 45px;
}

/**buttons download header e footer**/
.main-container__buttons-download{
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

.main-container__button-download{
    font-size: 1rem;
    padding: 14px 0;
    border-radius: 45px;
    color: white;
    font-weight: 600;
}

.main-container--bg-color-cyan{
    background-color: var(--strong-cyan);
    border-top: 1px solid var(--strong-variation-01);
    border-right: 1px solid var(--strong-variation-01);
    border-left: 1px solid var(--strong-variation-01);
    border-bottom: 4px inset var(--strong-variation-01);
    box-shadow: 0 8px 15px 2px var(--strong-cyan-shadow);
}

.main-container--bg-color-blue{
    background-color: var(--light-blue);
    border-top: 1px solid var(--ligh-blue-variation-01);
    border-right: 1px solid var(--ligh-blue-variation-01);
    border-left: 1px solid var(--ligh-blue-variation-01);
    border-bottom: 4px inset var(--ligh-blue-variation-01);
    box-shadow: 0 7px 15px 2px var(--shadow-color);
}

.main-container__button-download:hover{
    opacity: 0.8;
    cursor: pointer;
}

/**section snipptes**/

.main-container__header{
    margin-bottom: 160px;
}

.main-container__subtitle{
    font-size: 1.6rem;
    color: var(--dark-grayish-blue);
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 15px;
}

.main-container__description-section{
    color: var(--grayish-blue);
    font-size: 16.4px;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 0;
    font-weight: 400;
}

.main-container__image-from-side img{
    display: block;
    max-width: 100%;
    object-fit: contain;
}

.main-container__header-section{
    margin-bottom: 75px;
}

.main-container__image-from-side{
    margin-bottom: 60px;
}

.main-container__name-benefit, .main-container__name-tool{
    font-size: 1.3rem;
    color: var(--dark-grayish-blue);
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
}

.main-container__description-benefit, .main-container__description-tool{
    color: var(--grayish-blue);
    font-size: 16.2px;
    text-align: center;
    line-height: 1.7;
    margin-bottom: 0;
    font-weight: 400;
}

.main-container__container-benefits:nth-child(1), .main-container__container-benefits:nth-child(2){
    margin-bottom: 50px;
}

.main-container__section-snippets{
    margin-bottom: 190px;
}

/**section acess**/

.main-container__section-access{
    margin-bottom: 110px;
}

.main-container__access{
    display: flex;
    padding: 0;
}

.main-container__access img{
    display: block;
    max-width: 100%;
    object-fit: contain;
}

/**section workflow**/

.main-container__icon-tool img{
    display: block;
    margin: 0 auto;
    height: 40px;
}

.main-container__icon-tool{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.main-container__tool{
    margin-bottom: 50px;
}

/**section companies**/

.main-container__companies{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 165px;
}

.main-container__companies-logo{
    display: flex;
    justify-content: center;
}

.main-container__companies-logo img{
    display: block;
    max-width: 100%;
    width: 85%;
}

.main-container__section-workflow{
    margin-bottom: 120px;
}

/**section downloads**/
.main-container--mg-bottom{
    margin-bottom: 45px;
}

/**footer**/
.main-container__footer{
    background-color: var(--bg-footer);
    padding: 73px 0;
}

.main-container__img-logo-footer{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.main-container__img-logo-footer img{
    display: block;
    width: 55px;
    height: 55px;
}

.main-container__nav-footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

.main-container__nav-footer a{
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-weight: 400;
}

.main-container__social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main-container__social-media a{
    text-decoration: none;
}

.main-container__social-media a i{
    color: var(--dark-grayish-blue);
    font-size: 25px;
}

.main-container__nav-footer a:hover{
    color: var(--strong-cyan);
    cursor: pointer;
}

.main-container__social-media a:hover i{
    color: var(--strong-cyan);
    cursor: pointer;
}

/**breakpoint 380px**/
@media screen and (min-width: 380px) {
    body{
        background-image: url(../images/bg-header-desktop.png);
        background-repeat: no-repeat;
    }

    .main-container__buttons-download{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .main-container__button-download{
        padding: 14px 0;
        width: 220px;
    }
}

/**breakpoint 700px**/
@media screen and (min-width: 700px) {
    .main-container__buttons-download{
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .main-container__header{
        width: 690px; /*625px*/
        margin: 120px auto;
    }

    .main-container--mg-bottom{
        margin: 45px auto;
    }

    .main-container__header-section{
        width: 690px;
        margin: 75px auto;
    }

    .main-container{ padding: 0 0; }

    .main-container__title-main{ font-size: 2.4rem; } /*43.2px*/

    .main-container__description-header{ font-size: 1.1rem; /*19.8px*/ }

    .main-container__subtitle{ font-size: 1.9rem; }

    .main-container__description-section{
        font-size: 18px; /*16.4px*/
    }

    .main-container__container-benefits{   width: 350px; }

    .main-container__benefits-asside{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .main-container__tool{ width: 350px; }

    .main-container__workflow{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .main-container__companies{
        flex-flow: row wrap;
    }

    .main-container__access{
        justify-content: center;
        align-items: center;
    }

    .main-container__image-from-side{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-container__footer{
        padding: 30px 50px;
        display: flex;
        gap: 100px;
        justify-content: center;
    }

    .main-container__img-logo-footer{
        align-items: center;
        padding-bottom: 0;
    }

    .main-container__nav-footer{
       margin-bottom: 0;
    }

    .main-container__logo img{
        width: auto;
    }
}

/**breakpoint 1000px**/
@media screen and (min-width: 1000px) {
    .main-container__benefits{
        display: flex;
        flex-flow: row nowrap;
        gap: 90px;
    }

    .main-container__description-benefit,
    .main-container__name-benefit{
        text-align: left;
    }

    .main-container__container-benefits{
        width: minmax(min-content, 350px); 
    }

    .main-container__image-from-side{
        margin-bottom: 0;
        position: relative;
        right: 30px;
    }

    .main-container__workflow{
        flex-flow: row nowrap;
        gap: 30px;
        align-items: flex-start;
    }

    .main-container__companies-logo img{ width: auto; }

    .main-container__companies{
        gap: 95px;
    }

    /*footer*/

    .main-container__footer{
        display: flex;
        padding: 50px 0px;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
    }

    .main-container__nav-footer{
        display: grid;
        grid-template-columns: repeat(3, max-content);
        /*justify-content: center;
        align-items: center;*/
        column-gap: 80px;
        margin-bottom: 0;
        row-gap: 20px;
        flex: 2;
        justify-content: flex-start;
    }

    .main-container__img-logo-footer{
        padding-bottom: 0;
        margin-right: 0px; 
        align-items: center;
        flex: 1;
    }

    .main-container__social-media{
        justify-self: flex-end;
        flex: 1;
    }
}